* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html,
body {
  height: 100vh;
  width: 100%;
}

section {
  background: #ececec;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 600px;
  background-color: #fff;
  box-shadow: 0px 0px 13px 6px rgba(0, 255, 255, 0.1);
  aspect-ratio: 9/16;

}

.content {
  padding: 5%;
  width: 100%;
  height: 100%;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.6vh;
  
}
.card_header svg {
  height: 20px;
  fill:#9B918D;
}
.card_header p {
  font-size: 12px;
  color: #B6B6B6;
}

.card_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
    height: 60%;
}

.card-section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-section_header h3{
    font-size: 15px;
}

.card-section_header p {
  font-size: 12px;
}
.card_section img {
  width: 84%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.music_controls {
  width: 92%;
}

.progress {
  width: 100%;
  border: none;
  height: 5px;
  border-radius: 25px;
}

.timer{
    display: flex;
    justify-content: space-between;
}

.timer p{
    font-size: 12px;
    color: #9B918D;
}

.control_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4vh ;
}

.icon1, .icon2, .icon4, .icon5{
    height: 30px;
    fill: #B6B6B6;
}

.play_button{
    height: 50px;
    fill:#9B918D;
}

.play-button{
    height: 5px;
}

.songs {
  /* background: lightsalmon; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1px ;
    gap:3vh;
    color:#9B918D;
}

.song_element{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.song_element p{
    font-size: 13px;
    
}

#playing{
color:black ;
}

.playing_song{
    position: relative;
    right: 25px;

}

.bullet {
    width: 8px;
    height: 8px;
    background-color: cyan; 
    border-radius: 50%; 
    position: relative;
    right: 15px;

  }